@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --background-color: #f2f9f4;
  --primary-background: #8fd8c5;
  --secondry-background: #deeee8;
  --helper-background: #c0dad6;
  --primary-text-color: #509995;
  --secondry-text-color: #f2f9f4;
  --hover-text-color: #48605e;
}
@media (max-width: 1029px) {
  .button {
    font-size: 1rem;
  }

  .container {
    height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
    background-color: var(--background-color);
  }

  /* ----------------------------logo section--------------------------- */
  .logo-section {
    height: 100%;
    width: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo-section .logo-background {
    height: 100%;
    width: 80%;
    padding: 1rem;
    background-color: var(--primary-background);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-section .logo-background .logo-img {
    width: 5rem;
  }

  /* ----------------------------logo section END------------------------------ */

  /* ----------------------------main section--------------------------- */
  .main-landing-page {
    height: calc(100vh - 12rem);
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }
  /* ----------------------------main section left--------------------------- */
  .main-left {
    height: 40rem;
    width: 30%;
    /* background-color: red; */
    position: relative;
  }
  .design1 {
    position: absolute;
    width: 18rem;
    top: 8rem;
    left: 7rem;
  }

  .yoga_img_1 {
    position: absolute;
    width: 10rem;
    top: 12rem;
    left: 11rem;
  }

  /* ----------------------------main section left END--------------------------- */

  /* ----------------------------main section right--------------------------- */
  .main-right {
    height: 100%;
    width: 70%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--primary-text-color);
  }

  .para {
    font-size: 1.5rem;
    padding: 5rem 5rem;
    /* background-color: red; */
    font-weight: 100;
    color: var(--secondry-text-color);
  }

  /* ----------------------------main section right END--------------------------- */

  /* ----------------------------nav area --------------------------- */
  .nav .nav-bar .nav-items {
    display: block;
  }
  .nav .nav-bar .nav-items .items {
    position: absolute;
    background-color: var(--primary-text-color);
  }
}
